<div class="inicio">
    <div class="fondo-pgina-principal-3-parent">
        <img class="fondo-pgina-principal-3" alt="" src="/assets/img/Fondo página principal 3.png">

        <img class="fondo-pgina-principal-4" alt="" src="/assets/img/Fondo página principal 4.png">

    </div>
    <img class="fondo-pgina-principal-1" alt="" src="/assets/img/FondoPaginaPrincipal1.png">

    <div class="header">
        <div class="nete-hoy-mismo">¡Únete Hoy Mismo!</div>
        <div class="empieza-a-disfrutar">Empieza a disfrutar de todos estos beneficios y más, llevando tu escuela canina a nuevas alturas.</div>
    </div>
    <div class="copy">
        <b class="encuentra-tu-plan" data-scroll-to="encuentraTuPlan">Encuentra tu plan ideal</b>
        <div class="empieza-a-disfrutar">Puedes cambiarlo o cancelarlo fácilmente en cualquier momento.</div>
    </div>
    <img class="fondo-beneficios-1-icon" alt="" src="/assets/img/Fondo-Beneficios1.png">

    <div class="copy1">
        <b class="lo-mejor-para" data-scroll-to="mejoraTuNegocio">Lo Mejor para Tu Negocio</b>
        <div class="empieza-a-disfrutar">Descubre nuestros beneficios.</div>
    </div>
    <div class="header1">
        <b class="la-primera-plataforma">¡La Primera Plataforma en Colombia para Dueños de Colegios Caninos!</b>
        <div class="personaliza-la-informacin">Personaliza la información de tu negocio de múltiples formas, adaptala a tus necesidades y servicios únicos.</div>
        <div class="button">
            <div class="comenzar">Comenzar</div>
        </div>
    </div>
    <div class="button1" id="button">
    </div>
    <img class="inicio-child" alt="" src="/assets/img/flecha-hacia-arriba.png">

    <div class="cards">
        <div class="basico-chiguahua">
            <div class="bsico-chihuahua">
                <span class="bsico-chihuahua-txt-container">
            						<p class="bsico">Básico</p>
            						<p class="chihuahua">{{basico.descripcion}}</p>
          					</span>
            </div>
            <div class="avatar">
                <div class="precio-mensual-16900-lorem-i-wrapper">
                    <div class="precio-mensual-16900-container">
                        <span class="precio-mensual-16900-container1">
                								<p class="precio-mensual">Precio Mensual</p>
                								<p class="p">{{basico.valor}}</p>
                								<p class="p">&nbsp;</p>
                								<ul class="lorem-ipsum-dolor-sit-amet-qu">
                  									<li class="lorem-ipsum-dolor-sit-amet-qu1">
                    										<span class="lorem-ipsum-dolor">{{basico.descripcionOpcional1}}</span>
                        </li>
                        </ul>
                        <p class="precio-mensual">&nbsp;</p>
                        <ul class="lorem-ipsum-dolor-sit-amet-qu">
                            <li>
                                <span class="lorem-ipsum-dolor">{{basico.descripcionOpcional2}}</span>
                            </li>
                        </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="customer-quote">
            <div class="bsico-chihuahua">
                <span class="bsico-chihuahua-txt-container">
            						<p class="bsico">Premium</p>
            						<p class="chihuahua">{{premium.descripcion}}</p>
          					</span>
            </div>
            <div class="avatar">
                <div class="precio-mensual-16900-lorem-i-wrapper">
                    <div class="precio-mensual-16900-container">
                        <span class="precio-mensual-16900-container1">
                								<p class="precio-mensual">Precio Mensual</p>
                								<p class="p">{{premium.valor}}</p>
                								<p class="p">&nbsp;</p>
                								<ul class="lorem-ipsum-dolor-sit-amet-qu">
                  									<li class="lorem-ipsum-dolor-sit-amet-qu1">
                    										<span class="lorem-ipsum-dolor">{{premium.descripcionOpcional1}}</span>
                        </li>
                        </ul>
                        <p class="precio-mensual">&nbsp;</p>
                        <ul class="lorem-ipsum-dolor-sit-amet-qu">
                            <li>
                                <span class="lorem-ipsum-dolor">{{premium.descripcionOpcional2}}</span>
                            </li>
                        </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="basico-chiguahua">
            <div class="bsico-chihuahua">
                <span class="bsico-chihuahua-txt-container">
            						<p class="bsico">Estándar</p>
            						<p class="chihuahua">{{estandar.descripcion}}</p>
          					</span>
            </div>
            <div class="avatar">
                <div class="precio-mensual-16900-lorem-i-wrapper">
                    <div class="precio-mensual-16900-container">
                        <span class="precio-mensual-16900-container1">
                								<p class="precio-mensual">Precio Mensual</p>
                								<p class="p">{{estandar.valor}}</p>
                								<p class="p">&nbsp;</p>
                								<ul class="lorem-ipsum-dolor-sit-amet-qu">
                  									<li class="lorem-ipsum-dolor-sit-amet-qu1">
                    										<span class="lorem-ipsum-dolor">{{estandar.descripcionOpcional1}}</span>
                        </li>
                        </ul>
                        <p class="precio-mensual">&nbsp;</p>
                        <ul class="lorem-ipsum-dolor-sit-amet-qu">
                            <li>
                                <span class="lorem-ipsum-dolor">{{estandar.descripcionOpcional2}}</span>
                            </li>
                        </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="personalizacin">Personalización</div>
    <div class="avatar3">
        <div class="precio-mensual-16900-lorem-i-wrapper">
            <div class="ajusta-la-informacin">Ajusta la información y presentación de tu negocio según tus necesidades y preferencias.</div>
        </div>
    </div>
    <div class="profesionalismo">Profesionalismo</div>
    <div class="avatar4">
        <div class="precio-mensual-16900-lorem-i-wrapper">
            <div class="ajusta-la-informacin">Envía a tus clientes un enlace a tu perfil con toda la información y servicios organizados.</div>
        </div>
    </div>
    <div class="navigation" data-scroll-to="navigationContainer">
        <div class="items">
            <div class="planes" id="planesText">Planes</div>
            <div class="beneficios" id="mejorNegocio">Beneficios</div>
            <div class="button2">
                <div class="beneficios" (click)="irARegistrarColegio()" onkeypress="">Registrarse</div>

            </div>
            <div class="button2">
                <div class="beneficios" (click)="this.openModelInicioSesion(iniciosesion)" onkeypress="">Iniciar Sesión</div>
            </div>
        </div>
    </div>
    <div class="logo">
        <img class="logo" alt="" src="/assets/img/kp-original.png">
    </div>
</div>

<ng-template #iniciosesion>
    <div class="modal-body sign-up">
        <div class="modal-iniciar-sesin">
            <a href="#home" onclick="modalRefInicioSesion.hide()"> <img class="icons" alt="" src="/assets/img/Icons.svg"> </a>

            <div class="frame-parent">
                <div class="bienvenido-de-vuelta-parent">
                    <div class="bienvenido-de-vuelta">¡Bienvenido de Vueltas!</div>
                    <div class="text"> </div>
                </div>

            </div>
            <br>
            <div class="email-parent">
                <div class="email">
                    <div class="label">Usuario*</div>
                    <input type="text" name="usuario" class="text-field inputs-wrapper inputs " size="56" placeholder="Introduce tu usuario aqui" (blur)="habilitarDeshabilitarBtoCrear()" [(ngModel)]="inicioSession.usuario" #usuario="ngModel">
                </div>

                <div class="email">
                    <div class="label">Contraseña*</div>
                    <input type="password" name="clave" class="text-field inputs-wrapper inputs" size="56" placeholder="Introduce tu contraseña aquí" (blur)="habilitarDeshabilitarBtoCrear()" [(ngModel)]="inicioSession.clave" #clave="ngModel">
                    <div class="error-message">{{mensajeError}}</div>
                </div>

                <div class="email">
                    <div [ngClass]="{'button-continuar sign-up-wrapper-modal': btnCrearNaranja,'button-Gris sign-up-wrapper-modal': btnCrearGris}" (click)="irAColegio()" onkeypress="">Continuar</div>
                </div>

            </div>
            <img class="password-hide-see" alt="" src="Password hide / see.svg">

            <div class="divider">
                <div class="divider1">
                </div>
                <div class="or" (click)="this.openModelRecuperarClave(recuperarclave)" onkeypress="">¿Olvidaste tu contraseña?</div>
                <div class="divider1">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #recuperarclave>
    <div class="modal-body sign-up">
        <div class="modal-recuperar-cuenta">
            <a href="#home" onclick="modalRefRecuperarCuenta.hide()"> <img class="icons" alt="" src="Icons.svg"> </a>

            <div class="frame-parent-recuperar-cuenta">
                <div class="recupera-tu-cuenta-parent">
                    <div class="recupera-tu-cuenta">Recupera tu Cuenta</div>
                    <div class="text"> </div>
                </div>
            </div>
            <br>
            <div class="email-parent-recuperar-cuenta">
                <form action="" method="get">
                    <div class="label">
                        <p class="introduce-tu-correo">Introduce tu correo electrónico o número de celular para </p>
                        <p class="introduce-tu-correo">recibir un mensaje de recuperación.</p>
                    </div>
                    <br>
                    <div class="email">
                        <input type="text" name="nombre" class="text-field inputs-wrapper inputs " size="56" placeholder="Introduce tu correo o número de celular">
                    </div>
                    <br>
                    <div class="email">
                        <input type="submit" class="button-continuar" value="Enviar">
                    </div>
                </form>

            </div>

            <div class="button1-recuperar-cuenta">
                <a href="#home" onclick="irAHome"> <img class="button-child" alt="" src="Arrow 3.svg"></a>

            </div>

            <div class="divider">
                <div class="divider1">
                </div>
                <div class="or">Reenviar Mensaje</div>
                <div class="divider1">
                </div>
            </div>
        </div>
    </div>
</ng-template>