<div class="seleccionar-plan">
    <img class="image-icon" alt="" src="/assets/img/Image.png">

    <div class="create-an-account">
        <div class="fondo-pgina-principal-3-parent">
            <img class="fondo-pgina-principal-3" alt="" src="/assets/img/Fondo página principal 3.png">
            <img class="fondo-pgina-principal-4" alt="" src="/assets/img/Fondo página principal 4.png">
        </div>

        <div class="selecciona-tu-plan-ideal-parent">
            <div class="selecciona-tu-plan">¡Selecciona tu plan ideal!</div>
        </div>



        <div class="cards">
            <div class="customer-quote">
                <input type="radio" class="customer-quote-child" value="p-basico" name="planes">
                <div class="bsico-chihuahua">
                    <p class="bsico">Básico</p>
                    <p class="chihuahua">Chihuahua</p>
                </div>

                <div class="avatar">
                    <div class="precio-mensual-16900-lorem-wrapper">
                        <div class="precio-mensual-16900-container">
                            <span class="precio-mensual-16900-container1">
                                        <p class="bsico">Precio Mensual: $16.900</p>
                                        <p class="bsico">&nbsp;</p>
                                        <p class="bsico">Lorem ipsum dolor sit amet. Qui nemo itaque est maiores excepturi aut ipsa quia et neque sapiente.</p>
                                  </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="customer-quote1">
                <input type="radio" class="customer-quote-child" value="p-premium" name="planes" checked>
                <div class="bsico-chihuahua">
                    <p class="bsico">Premium</p>
                    <p class="chihuahua">Terranova</p>
                </div>
                <div class="avatar">
                    <div class="precio-mensual-16900-lorem-wrapper">
                        <div class="precio-mensual-16900-container">
                            <span class="precio-mensual-16900-container1">
                                                <p class="bsico">Precio Mensual: $38.900</p>
                                                <p class="bsico">&nbsp;</p>
                                                <p class="bsico">Lorem ipsum dolor sit amet. Qui nemo itaque est maiores excepturi aut ipsa quia et neque sapiente.</p>
                                          </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="customer-quote1">
                <input type="radio" class="customer-quote-child" value="p-estandar" name="planes">
                <div class="bsico-chihuahua">
                    <p class="bsico">Estándar</p>
                    <p class="chihuahua">Beagle</p>
                </div>
                <div class="avatar">
                    <div class="precio-mensual-16900-lorem-wrapper">
                        <div class="precio-mensual-16900-container">
                            <span class="precio-mensual-16900-container1">
                                                <p class="bsico">Precio Mensual: $26.900</p>
                                                <p class="bsico">&nbsp;</p>
                                                <p class="bsico">Lorem ipsum dolor sit amet. Qui nemo itaque est maiores excepturi aut ipsa quia et neque sapiente.</p>
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="button-parent">
            <input type="submit" class="button" value="Continuar">

            <div class="divider">
                <div class="or"></div>
            </div>
        </div>
    </div>


    <div class="create-an-account-inner">
        <div class="frame-wrapper">
            <div class="frame-wrapper">
                <div class="have-an-account-login">
                    <div class="or">
                        <span class="ya-tienes-una">¿Ya tienes una cuenta?</span>
                        <span class="span"> </span>
                        <span class="ingresa">Ingresa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button1">
        <img alt="fecha" src="/assets/img/Arrow3.png">
    </div>
</div>